- # coding: utf-8
- hue = @post.hue

- content_for :header do
  .mega{:style=>"background-color:hsl(#{hue},50%,75%);"}
    %h1
      Sketching with Code
  %nav
    %ul
      %li
        %a{:href=>"/"} Thoughts
      %li
        %a{:href=>"/book"} Book
      %li
        %a{:href=>"/hacks"} Hacks

- content_for :sass do
  :sass
    $article-link-color: hsl(#{hue},50%,50%)
    body.#{@post.slug}
      a
        color: $article-link-color
        &:hover, &:visited
          color: lighten($article-link-color, 10)

%section.posts
  - unless @posts.blank?
    - @posts.each do |post|
      %article.post{:class=> post.draft ? "draft" : "written"}

        - if post.draft
          %h1.draft= post.title
          %p
            Draft
        - else
          %h1= link_to(post.title, post.url)
          %p
            = truncate_words(CGI.unescapeHTML(strip_tags(post.content_html.html_safe)), {:length => 50}).html_safe
          - if false
            %p
              = distance_of_time_in_words(Date.today, post.published_at)
              ago
