- # coding: utf-8
- require "compass"
- hue = @post.hue

- content_for :scripts do
  %script{:src => "http://disqus.com/forums/sketchingwithcode/embed.js", :type => "text/javascript"}
- content_for :sass do
  :sass
    $article-link-color: hsl(#{hue},50%,50%)
    body.#{@post.slug}
      a
        color: $article-link-color
        &:hover
          color: lighten($article-link-color, 10)


- content_for :header do
  %a.back_link{:href=>"/"} Sketching with Code
  .mega{:style=>"background-color:hsl(#{hue},50%,75%);"}
    %h1= @post.title
%article
  = @post.content_html.html_safe
  %footer#comments
    #disqus_thread
    %noscript
      %a{:href => "http://sketchingwithcode.disqus.com/?url=ref"} View the discussion thread.